body{
  font-family:'Droid Sans',verdana,helvetica,arial,sans-serif;
  font-size:18px;
  color:#222;
  background:#ccc;
  margin:0;
  padding:0;
}

h1{
  font-size:24px;
}

#frame{
  background:#ccc;
  width:100%; 
  height:100%;
  text-align:center;
}


/* Top Area */

#timeline{
  margin-bottom:15px;
}

option.select{
  width:166px;
  height:26px;
  line-height:26px;
  font-size:18px;
  font-weight:bold;
}

/* Styles for the graph itself */
#total_graph{
  border:2px solid #aaa;
  padding:10px;
}

.sm{
  display:inline-block;
  width:5px; height:5px;
  margin:1px;
  background:#666;
}

.sm.arts{
  background:#a44;
}

.sm.foreign{
  background:#3a3;
}

.sm.international{
  background:#36a;
}

.sm.sports{
  background:#399;
}

.left{
text-align:right;
}

.right{
  text-align:left;
}

.newspaper_visual{
  width:400px;
  display:inline-block;
  vertical-align:top;
}
